body {
  background-color: #899C9C;
  text-align: center;
  font-size: 20px;
  color: #E89C0C;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ol {
  list-style-type: none;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu .active a {
  color: #FF0000;
}

#menu li a:hover {
  background-color: #111;
}

h1 {
  font-size: 3em;
  color: #2459DD;
}

h2 {
  font-size: 2em;
  color: #FF0000;
}

section {
 display: flex;
}

aside {
 flex: 1;
 border-style: solid;
 border-color: #FF0000;
 padding: 25px;
}

article {
 flex: 4;
 padding: 25px;
}
